{% extends '../../base.html' %}

{% block content %}
	<div class="content">
		<div class="content">
					<div class="card">
						<div class="card-header header-elements-inline">
							<h5 class="card-title">Profile information</h5>
							<div class="header-elements">
								<div class="list-icons">
									<a class="list-icons-item" data-action="collapse"></a>
									<a class="list-icons-item" data-action="reload"></a>
									<a class="list-icons-item" data-action="remove"></a>
								</div>
							</div>
						</div>

						<div class="card-body">
							<form method="PATCH">{% csrf_token %}
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Username</label>
											<input type="text" readonly="readonly" value="{{ request.user.username }}" id="username" class="form-control">
										</div>
										<div class="col-md-6">
											<label>First name</label>
											<input type="text" value="{{ request.user.first_name }}" id="first_name" class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Father's Name</label>
											<input type="text" value="{{ request.user.father_name }}" id="father_name" class="form-control">
										</div>
										<div class="col-md-6">
											<label>Last Name</label>
											<input type="text" value="{{ request.user.last_name }}" id="last_name" class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Email</label>
											<input type="text" value="{{ request.user.email }}" id="email" class="form-control">
										</div>
										<div class="col-md-6">
											<label>Your Gender</label>
											<select class="form-control form-control-select2" id="gender" data-fouc>
												<option value="germany" selected>{{ request.user.gender }}</option> 
												<option value="france">Female</option>  
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Phone</label>
											<input type="text" value="{{ request.user.phone }}" id="phone" class="form-control">
										</div>

										<div class="col-md-6">
											<label>Upload profile image</label>
											<input type="file" class="form-input-styled" data-fouc>
											<span class="form-text text-muted">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Address</label>
											<input type="text" value="Kiev, Ukraine" class="form-control">
										</div>
										<div class="col-md-6">
											<label>Birthday</label>
											<input type="text" value="{{ request.user.birthday }}" id="birthday" class="form-control">
										</div>
									</div>
									</div>
								</div>
								<div class="text-right">
									<button type="button" class="btn btn-primary" id="pnotify-profile-success">Сохранить</button>
								</div>
							</form>
						</div>
					</div>
					<!-- /profile info -->


					<!-- Account settings -->
					<div class="card">
						<div class="card-header header-elements-inline">
							<h5 class="card-title">Account settings</h5>
							<div class="header-elements">
								<div class="list-icons">
									<a class="list-icons-item" data-action="collapse"></a>
									<a class="list-icons-item" data-action="reload"></a>
									<a class="list-icons-item" data-action="remove"></a>
								</div>
							</div>
						</div>

						<div class="card-body">
							<form action="#">
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Username</label>
											<input type="text" value="{{ request.user.username }}" readonly="readonly" class="form-control">
										</div>

										<div class="col-md-6">
											<label>Current password</label>
											<input type="password" value="" readonly="readonly" class="form-control">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>New password</label>
											<input type="password" placeholder="Enter new password" class="form-control">
										</div>

										<div class="col-md-6">
											<label>Repeat New password</label>
											<input type="password" placeholder="Repeat new password" class="form-control">
										</div>
									</div>
								</div>

								

								<div class="text-right">
									<button type="submit" class="btn btn-primary">Save changes</button>
								</div>
							</form>
						</div>
					</div>
					<!-- /account settings -->

				</div>
<script>
	$('#pnotify-profile-success').on('click', function(){
		var first_name = $('#first_name').val()
		var last_name = $('#last_name').val()
		var father_name = $('#father_name').val()
		var email = $('#email').val()
		var phone = $('#phone').val()
		$.ajax({
			type: 'PATCH',
			url: "/api/v1/user/admin/update/{{ request.user.owner.id }}/",
			data: {
				first_name:first_name,
				last_name:last_name,
				father_name:father_name,
				email:email,
				phone:phone,

			},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			},
			success: function(data){
				document.getElementById('success').style.display='block'
			}
		})
	});
</script>
{% endblock content %}				