{% extends '../../base.html' %}

{% block content %}

{% if request.user.teacher or request.user.owner %}
		<!-- Main content -->
		<div class="content-wrapper">


			<!-- Content area -->
			<div class="content">

				<!-- Basic datatable -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Список учителей</h5>
						<div class="header-elements">
						{% if request.user.owner %}
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
									Добавить Учителя
								</button>
								
								<!-- Modal -->
								<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Регистрация учителей</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
										</div>
										<div class="modal-body">
										<form action="" method="post">
											<div class="form-group">
											<label>Имя пользователя</label>
											<input type="text" class="form-control" name="username" id="username" placeholder="Введите имя пользователя">
											</div>
											<div class="form-group">
											<label>Имя</label>
											<input type="text" class="form-control" name="fist-name" id="first-name" placeholder="Введите Имя">
											</div>
											<div class="form-group">
												<label>Фамилия</label>
												<input type="text" class="form-control" name="last-name" id="last-name" placeholder="Введите Фамилию">
											</div>
											<div class="form-group">
												<label>Отчество</label>
												<input type="text" class="form-control" name="father-name" id="father_name" placeholder="Введите Отчество">
											</div>
											<div class="form-group">
												<label>День рождения</label>
												<input class="form-control" type="date" id="date" name="date">
											</div>
											<div class="form-group">
												<label>Пол</label>
												<select class="form-control form-control-sm" id="gender" aria-label="Default select example">
													<option selected>Выберите Пол</option>
													<option value="Male">Мужской</option>
													<option value="Female">Женский</option>
												</select>
											</div>
											<div class="form-group">
												<label>Email</label>
												<input type="email" class="form-control" name="email" id="email" placeholder="Введите Email">
											</div>
											<div class="form-group">
												<label>Телефон</label>
												<input type="text" class="form-control" name="phone" id="phone" placeholder="Введите Телефон">
											</div>
											<div class="form-group">
												<label>Должность</label>
												<input type="text" class="form-control" name="position" id="position" placeholder="Войдите в положение">
											</div>
											<div class="form-group">
												<label>Пароль</label>
												<input type="password" class="form-control" name="password" id="password" placeholder="Введите Пароль">
											</div>

										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
										<button type="button" class="btn btn-primary" id="submit">Добавить</button>
										</div>
									</div>
									</div>
									</div>
								
		                	</div>
						{% endif %}
	                	</div>
					</div>
					<table class="table datatable-basic">
						<thead>
							<tr>
								<th>Имя пользователя</th>
								<th>Имя</th>
								<th>Фамилия</th>
								<th>День рождения</th>
								<th>Email</th>
								<th>Телефон</th>
								<th>Должность</th>
							</tr>
						</thead>
						<tbody>
						{% for el in teachers %}
							<tr>
								<td>{{ el.user.username }}</td>
								<td>{{ el.user.first_name }}</td>
								<td>{{ el.user.last_name}}</td>
								<td>{{ el.user.birthday }}</td>
								<td>{{ el.user.email }}</td>
								<td>{{ el.user.phone }}</td>
								<td>{{ el.position }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /basic datatable -->

			</div>
			<!-- /content area -->

<script>
    $('#submit').on('click', function(){
		var username = $('#username').val();
		var first_name = $('#first-name').val();
		var last_name = $('#last-name').val();
		var birthday = $('#date').val();
		var gender = $('#gender').val();
		var email = $('#email').val();
		var password = $('#password').val();
		var phone = $('#phone').val();
		var position = $('#position').val();
		var father_name = $('#father_name').val()
		$.ajax({
			type:'POST',
			url: '/api/v1/user/teacher/create/',
			data: {
				gender: gender,
				username:username,
				first_name:first_name,
				last_name:last_name,
				birthday:birthday,
				password:password,
				email:email,
				phone:phone,
				position:position,
				father_name:father_name,
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
			},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			},
			success: function(data){
				window.location = '/user/teacher-list/';
			}
		})
	});
</script>
{% endif %}

{% endblock %}