{% extends '../../base.html' %}
{% block  content %}

    <div class="content">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h2 class="card-title">English</h2>
                    </div>
                    <div class=" card-header  header-elements-inline">  
                        <h6 class="card-title">Students</h6>
                        <div class="header-elements">
                            <span class="badge badge-pill bg-dark">25</span>
                        </div>
                    </div>
                    
                    <div class="card-header" style="padding: 15px !important;">
                        <a href=" {% url 'tasks' %} " class="header-elements-inline" >
                            <h5 class="card-title ">Tasks</h5>
                            <div class="header-elements">
                                <span class="badge badge-pill bg-dark">578</span>
                            </div>
                        </a>                        
                    </div>
                </div>
            </div> 
        </div>
    </div>

{% endblock content %}