{% extends 'base.html' %}
{% block  content %}
    {% if request.user.student %}
<div class="content  ">
        <div class="d-flex flex-wrap">
            <div class="row">
            {% for el in groups %}
                <div  class="m-2" style="width: 400px;">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <h2 class="card-title">{{ el.name }}</h2>
                        </div>
                        <div class=" card-header" >  
                            <a href=" {% url 'students' el.id %}" class="header-elements-inline" >
                                <h5 class="card-title">Студенты</h5>
                                <div class="header-elements">
                                    <span class="badge badge-pill bg-dark">{{ el.student.count }}</span>
                                </div>
                        </a>
                        </div>
                        
                        <div class="card-header">
                            <a href=" {% url 'homework' el.id %}" class="header-elements-inline" >
                                <h5 class="card-title ">Задачи</h5>
                                <div class="header-elements">
                                    <span class="badge badge-pill bg-dark">{{ homeworks.count }}</span>
                                </div>
                            </a>                        
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}