{% extends '../../base.html' %}

{% block content %}
	<div class="content">
		<div class="content-wrapper">
			<div class="card">
				<div class="card-header header-elements-inline">
					<h5 class="card-title">Profile information</h5>
					<div class="header-elements">
						<div class="list-icons">
							<a class="list-icons-item" data-action="collapse"></a>
							<a class="list-icons-item" data-action="reload"></a>
							<a class="list-icons-item" data-action="remove"></a>
						</div>
					</div>
				</div>

				<div class="card-body">
					<form method="PATCH">{% csrf_token %}
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Username</label>
									<input type="text" readonly="readonly" value="{{ request.user.username }}" id="username" class="form-control">
								</div>
								<div class="col-md-6">
									<label>First name</label>
									<input type="text" value="{{ request.user.first_name }}" id="first_name" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Father's Name</label>
									<input type="text" value="{{ request.user.father_name }}" id="father_name" class="form-control">
								</div>
								<div class="col-md-6">
									<label>Last Name</label>
									<input type="text" value="{{ request.user.last_name }}" id="last_name" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Email</label>
									<input type="text" value="{{ request.user.email }}" id="email" class="form-control">
								</div>
								<div class="col-md-6">
									<label>Your Gender</label>
									<select class="form-control" id="gender">
										<option value="{{ request.user.gender }}" selected>{{ request.user.gender }}</option> 
										{% if request.user.gender != "Female" %}
										<option value="Female">Female</option>  
										{% else %}
										<option value="Male">Male</option> 
										{% endif %}
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Phone</label>
									<input type="text" value="{{ request.user.phone }}" id="phone" class="form-control">
								</div>

								<div class="col-md-6">
									<label>Upload profile image</label>
									<input type="file" class="form-input-styled" data-fouc>
									<span class="form-text text-muted">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Address</label>
									<input type="text" value="Kiev, Ukraine" class="form-control">
								</div>
								<div class="col-md-6">
									<label>Birthday</label>
									<input type="text" value="{{ request.user.birthday }}" id="birthday" class="form-control">
								</div>
							</div>
							</div>
						</div>
						<div class="text-right">
							<button type="button" class="btn btn-primary m-3" id="pnotify-profile-success">Сохранить</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /profile info -->


			<!-- Account settings -->
			<div class="card">
				<div class="card-header header-elements-inline">
					<h5 class="card-title">Account settings</h5>
					<div class="header-elements">
						<div class="list-icons">
							<a class="list-icons-item" data-action="collapse"></a>
							<a class="list-icons-item" data-action="reload"></a>
							<a class="list-icons-item" data-action="remove"></a>
						</div>
					</div>
				</div>

				<div class="card-body">
					<form method="PATCH">{% csrf_token %}
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" onclick="checkboxBtn()" id="check" class="form-check-input">
								<span class="form-check-sign" id="checkText">Изменение пароля</span>
							</label>
						</div>
						<div class="form-group">
							<div class="row">

								<div class="col-md-6">
									<label>Новый пароль</label>
									<input type="password" value="" readonly="readonly" class="form-control" id="passwordBtn" placeholder="Новый пароль">
								</div>

								<div class="col-md-6">
									<label>Подвержение пароля</label>
									<input type="password" value="" readonly="readonly" class="form-control" id="passwordBtn2" placeholder="Новый пароль">
								</div>
							</div>
						</div>
						<div class="text-right">
							<button type="button" class="btn btn-primary m-3" id="change">Сохранить</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /account settings -->
		</div>
<script>
	$('#pnotify-profile-success').on('click', function(){
		var first_name = $('#first_name').val()
		var last_name = $('#last_name').val()
		var father_name = $('#father_name').val()
		var email = $('#email').val()
		var phone = $('#phone').val()
		$.ajax({
			type: 'PATCH',
			url: "/api/v1/user/student/update/{{ request.user.student.id }}/",
			data: {
				first_name:first_name,
				last_name:last_name,
				father_name:father_name,
				email:email,
				phone:phone,

			},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			},
			success: function(data){

			}
		})
	});
</script>
<script>
	// checkboxBtn
	function checkboxBtn(){
		if(document.getElementById("check").checked){
			document.getElementById("passwordBtn2").readOnly = false;
			document.getElementById("passwordBtn").readOnly = false;
			$('#change').on('click', function(){
				passwordBtn2 = $('#passwordBtn2').val()
				password = $('#passwordBtn').val()
				if (passwordBtn2 == password){
					$.ajax({
						type:'PATCH',
						url: "/api/v1/user/student/update/{{ request.user.student.id }}/",
						data:JSON.stringify( {
							password:password,
							csrfmiddlewaretoken: csrftoken
						}),
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						beforeSend: function (xhr) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						},
						success: function(data){
							window.location = '/user/student/profile';
						}
					})
				}
				});
				
		}
		else{
			document.getElementById("passwordBtn2").readOnly = true;
			document.getElementById("passwordBtn").readOnly=true;
		}
  }
</script>
{% endblock content %}				