{% extends '../../base.html' %}

<!-- base -->
{% block content %}
			<!-- Content area -->
			<div class="content">

				<!-- Basic datatable -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Student Group List</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
								{% block modal %}
									{% include './modals/groupModal.html' %}
								{% endblock modal %}
		                	</div>
	                	</div>
					</div>
					<table class="table datatable-basic">
						<thead>
							<tr>
								<th>Name</th>
								<th>Owner</th>
								<th>Description</th>
								<th>Created Date</th>
								<th>Status</th>
								<th>Count</th>
								
							</tr>
						</thead>
						<tbody>
							{% for i in groups %}
								<tr>
									<td><a href="{% url 'student-list' i.id %}">{{ i.name }}</a></td>
									<td>{{ i.owner.user.username }}</td>
									<td>{{ i.description }}</td>
									<td>{{ i.created_at }}</td>
									<td>{% if i.status == True %} active {% else %} deactive {% endif %}</td>
									<td>
									{{ i.student.count }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
					</table>
				</div>
				<!-- /basic datatable -->

			</div>
			<!-- /content area -->
			{% block js %}
			{% include './modals/groupModaljs.js' %}
			{% endblock js %}
			
{% endblock content%}



