{% extends 'base.html' %}

{% block content %}
{% if request.user.student %}
    <div class="content">
        <!-- Open menu on click -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Open menu on click</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                	</div>
	                	</div>
					</div>
						<table id="example" class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Предмет</th>
								<th>Имя</th>
								<th>Фамилия</th>
								<th>Задача</th>
								<th>Оценка</th>
							</tr>
						</thead>
						<tbody>
						{% for el in ratings %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ el.homework.teacher.position }}</td>
								<td>{{ el.homework.teacher.user.first_name }}</td>
								<td>{{ el.homework.teacher.user.last_name }}</td>
								<td>{{ el.homework.homework_title }}</td>
								{% if el.submission_rating %}
								<td>{{ el.submission_rating }}</td>
								{% else %}
								<td></td>
								{% endif %}
							</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /open menu on click -->
    </div>


	<script>
		$(document).ready(function() {
			$('#example').DataTable( {
				dom: 'Bfrtip',
				buttons: [
					'excel',
					{ extend: 'pdf', text: 'Скачать файл (PDF)'},
				],
			} );
		} );
	</script>
{% endif %}
{% endblock %}